<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="container mt-5">
    <h2>Форма регистрации</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-{{ messages[0].category }}">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <form method="post">
        {{ form.csrf_token }}
        {% for field in form if field.name not in ['csrf_token', 'submit'] %}
        <div class="form-group">
            {{ field.label(class="form-label") }}
            {{ field(class="form-control") }}
            {% for error in field.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        {% endfor %}
        <br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>